<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title React Listenable Frame Showcase
  body
    div#root
    include ./externals.pug
    script(src="/react-listenable-frame.min.js", defer)
    script(src="/main.js", defer)
